SECRET_KEY=change-me

MYSQL_HOST=backup-2.mysql.database.azure.com
MYSQL_USER=adminplataformaseducar
MYSQL_PASSWORD=Educar2020**$Editores
MYSQL_DB=gestion360

UPLOAD_FOLDER=uploads

AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_CONTAINER=containers
AZURE_STORAGE_ACCOUNT_URL=

DEFAULT_USER_IMAGE_KEY=educar/Gestion360/images/users/default-user.jpg