{% extends "base.html" %}
{% block title %}Crear Usuario{% endblock %}
{% block content %}


<div class="card shadow">
    <div class="card-header bg-primary text-white">
        Crear Nuevo Usuario
    </div>
    <div class="card-body">
        <form method="POST">

            <div class="mb-3">
                <label class="form-label">Usuario</label>
                <input type="text" name="username" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Contraseña</label>
                <input type="password" name="password" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Rol</label>
                <select name="rol" class="form-select">
                    <option value="usuario">Usuario</option>
                    <option value="admin">Administrador</option>
                </select>
            </div>

            <button class="btn btn-success">Crear Usuario</button>

        </form>
    </div>
</div>

{% endblock %}
