{% extends "base.html" %}
{% block title %}Usuarios{% endblock %}

{% block content %}
<style>
    /* Card morada */
.card-morada {
    background-color: #3b2f63;
    border: none;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

/* Header */
.header-morado {
    background-color: #2a204a !important;
    color: white;
    font-weight: bold;
}

/* Tabla morada */
.tabla-morada {
    color: white;
}

.tabla-morada th {
    background-color: #2f2457 !important;
    color: white;
}

.tabla-morada td {
    background-color: #4b3b8f !important;
    color: white;
}

/* Hover elegante */
.tabla-morada tbody tr:hover td {
    background-color: #5c4fa3 !important;
    transition: 0.2s;
}

</style>
<div class="card card-morada shadow">
    <div class="card-header header-morado">
        Gestión de Usuarios
        <a href="{{ url_for('user.crear_usuario') }}" 
           class="btn btn-sm btn-success float-end">
           + Crear Usuario
        </a>
    </div>

    <div class="card-body">
        <table class="table tabla-morada">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Usuario</th>
                    <th>Rol</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for u in usuarios %}
                <tr>
                    <td>{{ u[0] }}</td>
                    <td>{{ u[1] }}</td>
                    <td>{{ u[2] }}</td>
                    <td>
                        <a href="{{ url_for('user.editar_usuario', id=u[0]) }}" 
                           class="btn btn-sm btn-primary">
                           Editar
                        </a>

                        <a href="{{ url_for('user.eliminar_usuario', id=u[0]) }}" 
                           class="btn btn-sm btn-danger"
                           onclick="return confirm('¿Eliminar usuario?')">
                           Eliminar
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}
